*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
   
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
    color: white;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
    
}
#user-score , #comp-score{
    font-size: 3rem;
    

}

.msg-container{
    margin-top: 5rem;
}

#msg{
  background-color: #081b31;
  display: inline;
  font-size: 2rem;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  margin-top: 3rem;
}